$black: rgba(58, 58, 58, 0.616);
$light-green: #7ed56f;
$medium-green: #55c57a;
$dark-green: #28b485;
$white: #fff;
$grey-dark: rgb(134, 134, 134);
$grey-light-1: #f7f7f7;
$lightblue-1: rgb(60, 172, 192);
$red-1: rgb(182, 22, 22);

// --------------grid-------------------

$grid-width-max: 114rem;
$gutter-hor: 5rem;
$gutter-ver: 5rem;
