.u-center-text {
  text-align: center;
}
.u-left-text{
  text-align: left;
}
.u-skew-dance:hover {
  transform: skewX(3deg) skewY(4deg) scale(1.1);
  -webkit-transform: skewX(3deg) skewY(4deg) scale(1.1);
  -moz-transform: skewX(3deg) skewY(4deg) scale(1.1);
  -ms-transform: skewX(3deg) skewY(4deg) scale(1.1);
  -o-transform: skewX(3deg) skewY(4deg) scale(1.1);
  text-shadow: 0.1rem 1rem 1rem rgba($grey-dark, 0.4);
}
.u-colorful-text-1 {
  background-image: linear-gradient(to right, rgba(216, 21, 21, 0.74), rgba(23, 133, 177, 0.959));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: transparent;
}
.u-colorful-text-2 {
  background-image: linear-gradient(to right, rgb(201, 59, 16), rgb(7, 105, 129));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: transparent;
}
.u-colorful-text-3 {
  background-image: linear-gradient(to right, rgb(51, 78, 35),#1a1);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-color: transparent;
}
.u-margin-bottom{
  margin-bottom:8rem;
}
.u-margin-bottom-big{
  margin-bottom:16rem;
}
.u-margin-bottom-small{
  margin-bottom: 4rem;
}